-- MySQL dump 10.13  Distrib 8.0.43, for Linux (x86_64)
--
-- Host: localhost    Database: teleup_db
-- ------------------------------------------------------
-- Server version	8.0.43

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `chamadas`
--

DROP TABLE IF EXISTS `chamadas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `chamadas` (
  `id` int NOT NULL AUTO_INCREMENT,
  `operador_id` int NOT NULL,
  `numero_cliente` varchar(20) NOT NULL,
  `tipo_chamada` enum('Entrada','Sa??da') NOT NULL,
  `status` enum('Iniciada','Em Andamento','Finalizada','Cancelada') DEFAULT 'Iniciada',
  `duracao_segundos` int DEFAULT '0',
  `resolvida` tinyint(1) DEFAULT '0',
  `satisfacao_cliente` int DEFAULT NULL,
  `observacoes` text,
  `data_inicio` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `data_fim` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `operador_id` (`operador_id`),
  CONSTRAINT `chamadas_ibfk_1` FOREIGN KEY (`operador_id`) REFERENCES `operadores` (`id`) ON DELETE CASCADE,
  CONSTRAINT `chamadas_chk_1` CHECK (((`satisfacao_cliente` >= 1) and (`satisfacao_cliente` <= 5)))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chamadas`
--

LOCK TABLES `chamadas` WRITE;
/*!40000 ALTER TABLE `chamadas` DISABLE KEYS */;
/*!40000 ALTER TABLE `chamadas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `conquistas`
--

DROP TABLE IF EXISTS `conquistas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `conquistas` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nome` varchar(100) NOT NULL,
  `descricao` text NOT NULL,
  `icone` varchar(100) NOT NULL,
  `categoria` enum('Chamadas','Tempo','Satisfa????o','Especial') NOT NULL,
  `criterio` int NOT NULL,
  `pontos_recompensa` int DEFAULT '0',
  `ativa` tinyint(1) DEFAULT '1',
  `data_criacao` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `conquistas`
--

LOCK TABLES `conquistas` WRITE;
/*!40000 ALTER TABLE `conquistas` DISABLE KEYS */;
INSERT INTO `conquistas` VALUES (1,'Primeiro Passo','Atenda sua primeira chamada','trophy','Chamadas',1,100,1,'2025-09-13 16:31:54'),(2,'Atendente Dedicado','Atenda 50 chamadas','medal','Chamadas',50,500,1,'2025-09-13 16:31:54'),(3,'Especialista','Atenda 200 chamadas','star','Chamadas',200,1000,1,'2025-09-13 16:31:54'),(4,'Mestre da Satisfa????o','Mantenha 4.8+ de satisfa????o em 20 chamadas','crown','Satisfa????o',20,800,1,'2025-09-13 16:31:54'),(5,'Maratonista','Fique online por 12 horas em um dia','clock','Tempo',12,600,1,'2025-09-13 16:31:54');
/*!40000 ALTER TABLE `conquistas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `empresas`
--

DROP TABLE IF EXISTS `empresas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `empresas` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nome` varchar(200) NOT NULL,
  `cnpj` varchar(18) NOT NULL,
  `email` varchar(100) NOT NULL,
  `telefone` varchar(20) DEFAULT NULL,
  `endereco` text,
  `logo_url` varchar(500) DEFAULT NULL,
  `cor_primaria` varchar(7) DEFAULT '#3B82F6',
  `cor_secundaria` varchar(7) DEFAULT '#1E40AF',
  `ativa` tinyint(1) DEFAULT '1',
  `data_criacao` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `data_atualizacao` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `cnpj` (`cnpj`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `empresas`
--

LOCK TABLES `empresas` WRITE;
/*!40000 ALTER TABLE `empresas` DISABLE KEYS */;
INSERT INTO `empresas` VALUES (1,'TeleUp Demo','12.345.678/0001-90','contato@teleup.com','(11) 99999-9999','Rua das Telecomunica├â┬º├â┬Áes, 123 - S├â┬úo Paulo/SP',NULL,'#3B82F6','#1E40AF',1,'2025-09-13 16:43:38','2025-09-13 16:43:38');
/*!40000 ALTER TABLE `empresas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `metas`
--

DROP TABLE IF EXISTS `metas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `metas` (
  `id` int NOT NULL AUTO_INCREMENT,
  `operador_id` int NOT NULL,
  `tipo_meta` enum('Chamadas','Tempo','Satisfa????o','Resolu????o') NOT NULL,
  `valor_meta` decimal(10,2) NOT NULL,
  `valor_atual` decimal(10,2) DEFAULT '0.00',
  `periodo` enum('Di??rio','Semanal','Mensal') NOT NULL,
  `data_inicio` date NOT NULL,
  `data_fim` date NOT NULL,
  `concluida` tinyint(1) DEFAULT '0',
  `pontos_recompensa` int DEFAULT '0',
  `data_criacao` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `operador_id` (`operador_id`),
  CONSTRAINT `metas_ibfk_1` FOREIGN KEY (`operador_id`) REFERENCES `operadores` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `metas`
--

LOCK TABLES `metas` WRITE;
/*!40000 ALTER TABLE `metas` DISABLE KEYS */;
INSERT INTO `metas` VALUES (1,1,'Chamadas',20.00,15.00,'Di??rio','2025-09-13','2025-09-13',0,100,'2025-09-13 16:31:54'),(2,1,'Satisfa????o',4.50,4.20,'Semanal','2025-09-08','2025-09-14',0,200,'2025-09-13 16:31:54');
/*!40000 ALTER TABLE `metas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `missoes`
--

DROP TABLE IF EXISTS `missoes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `missoes` (
  `id` int NOT NULL AUTO_INCREMENT,
  `titulo` varchar(200) NOT NULL,
  `descricao` text NOT NULL,
  `tipo` enum('Chamadas','Tempo','Satisfa????o','Especial') NOT NULL,
  `objetivo` int NOT NULL,
  `recompensa_pontos` int DEFAULT '0',
  `recompensa_xp` int DEFAULT '0',
  `ativa` tinyint(1) DEFAULT '1',
  `data_inicio` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `data_fim` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `missoes`
--

LOCK TABLES `missoes` WRITE;
/*!40000 ALTER TABLE `missoes` DISABLE KEYS */;
INSERT INTO `missoes` VALUES (1,'Primeira Chamada','Atenda sua primeira chamada do dia','Chamadas',1,50,25,1,'2025-09-13 16:31:54',NULL),(2,'Maratona de Chamadas','Atenda 10 chamadas em um dia','Chamadas',10,200,100,1,'2025-09-13 16:31:54',NULL),(3,'Especialista em Satisfa????o','Mantenha 4.5+ de satisfa????o em 5 chamadas','Satisfa????o',5,300,150,1,'2025-09-13 16:31:54',NULL),(4,'Tempo de Ouro','Fique online por 8 horas em um dia','Tempo',8,150,75,1,'2025-09-13 16:31:54',NULL);
/*!40000 ALTER TABLE `missoes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `operador_conquistas`
--

DROP TABLE IF EXISTS `operador_conquistas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `operador_conquistas` (
  `id` int NOT NULL AUTO_INCREMENT,
  `operador_id` int NOT NULL,
  `conquista_id` int NOT NULL,
  `data_conquista` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_operador_conquista` (`operador_id`,`conquista_id`),
  KEY `conquista_id` (`conquista_id`),
  CONSTRAINT `operador_conquistas_ibfk_1` FOREIGN KEY (`operador_id`) REFERENCES `operadores` (`id`) ON DELETE CASCADE,
  CONSTRAINT `operador_conquistas_ibfk_2` FOREIGN KEY (`conquista_id`) REFERENCES `conquistas` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `operador_conquistas`
--

LOCK TABLES `operador_conquistas` WRITE;
/*!40000 ALTER TABLE `operador_conquistas` DISABLE KEYS */;
INSERT INTO `operador_conquistas` VALUES (1,1,1,'2025-09-08 16:31:54'),(2,1,2,'2025-09-11 16:31:54');
/*!40000 ALTER TABLE `operador_conquistas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `operadores`
--

DROP TABLE IF EXISTS `operadores`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `operadores` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nome` varchar(100) NOT NULL,
  `email` varchar(100) NOT NULL,
  `senha` varchar(255) NOT NULL,
  `nivel` int DEFAULT '1',
  `xp_atual` int DEFAULT '0',
  `xp_proximo_nivel` int DEFAULT '100',
  `pontos_totais` int DEFAULT '0',
  `status` enum('Dispon??vel','Em Chamada','Pausa','Aguardando Chamada') DEFAULT 'Aguardando Chamada',
  `avatar` varchar(255) DEFAULT 'avatar1.png',
  `tempo_online` int DEFAULT '0',
  `data_criacao` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `data_atualizacao` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `empresa_id` int NOT NULL DEFAULT '1',
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `operadores`
--

LOCK TABLES `operadores` WRITE;
/*!40000 ALTER TABLE `operadores` DISABLE KEYS */;
/*!40000 ALTER TABLE `operadores` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `progresso_missoes`
--

DROP TABLE IF EXISTS `progresso_missoes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `progresso_missoes` (
  `id` int NOT NULL AUTO_INCREMENT,
  `operador_id` int NOT NULL,
  `missao_id` int NOT NULL,
  `progresso_atual` int DEFAULT '0',
  `concluida` tinyint(1) DEFAULT '0',
  `data_inicio` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `data_conclusao` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_operador_missao` (`operador_id`,`missao_id`),
  KEY `missao_id` (`missao_id`),
  CONSTRAINT `progresso_missoes_ibfk_1` FOREIGN KEY (`operador_id`) REFERENCES `operadores` (`id`) ON DELETE CASCADE,
  CONSTRAINT `progresso_missoes_ibfk_2` FOREIGN KEY (`missao_id`) REFERENCES `missoes` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `progresso_missoes`
--

LOCK TABLES `progresso_missoes` WRITE;
/*!40000 ALTER TABLE `progresso_missoes` DISABLE KEYS */;
INSERT INTO `progresso_missoes` VALUES (1,1,1,1,1,'2025-09-13 16:31:54',NULL),(2,1,2,7,0,'2025-09-13 16:31:54',NULL),(3,1,3,3,0,'2025-09-13 16:31:54',NULL);
/*!40000 ALTER TABLE `progresso_missoes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ranking`
--

DROP TABLE IF EXISTS `ranking`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ranking` (
  `id` int NOT NULL AUTO_INCREMENT,
  `operador_id` int NOT NULL,
  `posicao` int NOT NULL,
  `pontos_mes` int DEFAULT '0',
  `chamadas_mes` int DEFAULT '0',
  `satisfacao_media` decimal(3,2) DEFAULT '0.00',
  `periodo` date NOT NULL,
  `data_atualizacao` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_operador_periodo` (`operador_id`,`periodo`),
  CONSTRAINT `ranking_ibfk_1` FOREIGN KEY (`operador_id`) REFERENCES `operadores` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ranking`
--

LOCK TABLES `ranking` WRITE;
/*!40000 ALTER TABLE `ranking` DISABLE KEYS */;
INSERT INTO `ranking` VALUES (1,1,1,1250,45,4.30,'2025-09-13','2025-09-13 16:31:54'),(2,3,2,2100,38,4.10,'2025-09-13','2025-09-13 16:31:54'),(3,2,3,800,32,4.50,'2025-09-13','2025-09-13 16:31:54'),(4,4,4,150,8,4.00,'2025-09-13','2025-09-13 16:31:54');
/*!40000 ALTER TABLE `ranking` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sessoes`
--

DROP TABLE IF EXISTS `sessoes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sessoes` (
  `id` int NOT NULL AUTO_INCREMENT,
  `operador_id` int NOT NULL,
  `token` varchar(500) NOT NULL,
  `expiracao` timestamp NOT NULL,
  `ativo` tinyint(1) DEFAULT '1',
  `data_criacao` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `operador_id` (`operador_id`),
  CONSTRAINT `sessoes_ibfk_1` FOREIGN KEY (`operador_id`) REFERENCES `operadores` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sessoes`
--

LOCK TABLES `sessoes` WRITE;
/*!40000 ALTER TABLE `sessoes` DISABLE KEYS */;
/*!40000 ALTER TABLE `sessoes` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-09-13 17:01:59
